
.button__white--right{
    width: 110px;
    height: 35px;
    border-radius: 40px;
    outline: none;
    border: solid 2px #ffffff;
    color: white;
    background-color: rgba(0,0,0,0);
}
.button__white--left{
    width: 110px;
    height: 35px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(0,0,0,0);
}
.button__pink--right{
    width: 209px;
    height: 55px;
    border-radius: 40px;
    outline: none;
    border: solid 2px #ff5274;
    background-color: rgba(0,0,0,0);
    color: #ff5274;
}
.button__pink--left{
    width: 209px;
    height: 55px;
    border-radius: 40px;
    outline: none;
    border: solid 2px #ff5274;
    background-color:#ff5274;
    color: white;
}
.button__content{
    width: 176px;
    height: 40px;
    border-radius: 40px;
    border: solid 2px #ff5274;
    background-color: rgba(0,0,0,0);
    color: #ff5274;
    outline: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 3;
}
.button__registr{
    background-color: #ff5274;
    color: white;
    outline: none;
    width: 400px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #ff5274;
}

@media (min-width: 320px) and (max-width: 500px) {
    .button__pink--right {
        margin-top: 50px;
    }
}
