.gallery-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 100px 0 50px 0;
}

.gallery__item {
    text-align: center;
    position: relative;
}

.gallery__img--small {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.gallery__paragraph {}

.gallery__paragraph--small {
    font-size: 11px;
    margin-top: 30px;
}

.gallery__paragraph--medium {
    font-size: 15px;
    margin-top: 10px;
}

.gallery__more-sign {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-right: 2px solid #677074;
    border-top: 2px solid #677074;
    transform: rotate(45deg);
    margin-left: 12px;
}

.gallery__img--small:hover {opacity: 0.7;}

.gallery__block-hidden {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.gallery__img--big {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.gallery__button--close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.gallery__button--close:hover,
.gallery__button--close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.button--center {}

.gallery__lens {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: .3s ease;
}

.gallery__lens img {
    width: 20px;
    height: auto;
}

.gallery__item:hover .gallery__lens {
    opacity: 1;
}

@media only screen and (max-width: 700px){
    .gallery__img--big {
        width: 100%;
    }

    .gallery-wrapper {
        flex-direction: column;
    }

    .gallery__item {
        padding: 0 15px 0 15px;
    }

    .gallery__paragraph--small,
    .gallery__paragraph--medium {
        margin: 0;
        padding: 5px 0 5px 0;
    }

    .gallery .button__content {
        margin: 0 auto;
    }

    .button--center {
        text-align: center;
    }

    .gallery__lens {
        right: 8%;
    }
}
