.heading {
    color: #3d4351;
    font-weight: normal;
    font-size: 24px;
}
.heading__big {
    font-size: 60px;
    color: #fff;
    line-height: 82px;
    text-align: center;
    margin-bottom: 15px;
}
.heading__small {
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}
.heading__secondary {
    font-size: 15px;
    text-transform: uppercase;
}
.heading__grey {
    margin-bottom: 19.4px;
    color: #677074;
    text-transform: none;
    line-height: 33px;
}

@media (min-width: 320px) and (max-width: 500px) {
    .heading {
        font-size: 20px;
    }

    .heading__big {
        font-size: 32px;
        line-height: 50px;
    }

    .heading__small {
        font-size: 15px;
        line-height: 20px;
    }

    .heading__secondary {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 3px;
    }

    .heading__grey {
        font-size: 20px;
    }
}