.input {
    text-decoration: none;
    width: 400px;
    height: 55px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #e6e9ea;
    margin-bottom: 9px;
}

@media (min-width: 320px) and (max-width: 500px) {
    .input {
        width: 240px;
        height: 40px;
    }
}