.list {}

.list__item{
    color: #ffffff;
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    padding: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

.list__item--secondary{
    line-height: 40px;
}

.list__item--main{
    line-height: 16px;
}

@media (min-width: 320px) and (max-width: 500px) {
    .list__item
}