/* Main block */

.main {
  height: 100vh;
  padding-top: 250px;
  background: url('./main.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.main__buttons {
  text-align: center;
  margin-top: 84px;
}

/* Second block */

.second-block {
  height: 300px;
  border: 1px solid #e6e9ea;
  padding-top: 90px;
}

.second-block--padding {
    padding: 0 25px;
}

.second-block__pict1 {
  width: 39.3px;
  height: 39.7px;
  float: left;
  margin: 0 24.5px 100px 0;
}

.second-block__pict2 {
  width: 28px;
  height: 40.7px;
  float: left;
  margin: 0 19px 100px 0;
}

.second-block__pict3 {
  width: 38px;
  height: 40.5px;
  float: left;
  margin: 0 19px 100px 0;
}

/* Computer block */

.paragraph {
  margin-bottom: 1.5rem;
}

.paragraph__secondary {
  margin-bottom: 22.6px;
}

.computer {
  padding-top: 136px;
  padding-bottom: 310px;
}

.computer__paragraph--secondary {
    margin-bottom: 22.6px;
}

.img-computer {
    position: absolute;
    width: 50%;
    right: 0;
}

.img-computer--width {
    width: 100%;
}

.gallery{
    height: 1721px;
    background-color: #f7f9fa;
    border-bottom: solid 1px #e6e9ea;
    padding-top: 75px;
}

.gallery__first_heading--size {
    font-size: 24px;
}

.gallery__second_heading--size {
    font-size: 15px;
    font-weight: 600;
    margin-top: 82px;
}

.gallery__paragraph--size{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
    color: #7a8387;
}

.vertical_line{
    width: 3px;
    height: 178px;
    border-left: solid 1px #e6e9ea;
    position: relative;
    top: 90px;
}

.vertical-line--padding {
    padding-left: 75px;
}


.heading__bootstrap {
    position: absolute;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    bottom: 275px;
    left: 398px;
}

.heading__built-with {
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.7px;
    text-align: left;
    color: #acb1b4;
    bottom: 308px;
    left: 400px;
}

/* Nav */
.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 6em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.nav__list {
  display: block;
  padding-top: 38px;
}

.nav__link {
  float: left;
  line-height: 38px;
}

.nav-logo {
  color: #6b758c;
  letter-spacing: 0.2em;
  width: 104px;
  height: 29px;
}

.nav__buttons  {
  float: right;
}

/* Footer */

.footer {
  font-size: 13px;
  padding-top: 120px;
  padding-bottom: 145px;
  background-color: #3d4351;
  position: relative;
  color: white;
}

.footer__background {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 33.33333%;
  background-color: #373d4a;
  z-index: 1;
}

.link--white-color {
  color: white;
}

.list--margin-bottom {
  margin-bottom: 27px;
}

.footer__paragraph {
  color: white;
  font-weight: 600;
}

.col--relative {
  position: relative;
  z-index: 10;
  padding-top: 10px;
}

.col--border-top {
  border-top: solid 3px #4e566c;
  padding-left: 0;
}

.link--grey-color {
  font-weight: 400;
  color: #677074;
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  border-radius: 3px;
  background-color: #1ab4ef;
  margin: 20px 20px 0 3px;
  display: inline-block;
}

/*Form*/

.registr__input--margin-bottom {
    margin-bottom: 9px;
}

.registr__paragraph--margin-bottom {
    margin-bottom: 55px;
}
.registr__paragraph--color{
    color: #677074;
}

.registr__text--align {
    text-align: center;
}

.registr__paragraph--lineheight {
    line-height: 2;
}

.registr__caption--margin-bottom {
    margin-bottom: 11px;
}

.registr--margin {
    margin-top: 882px;
    margin-bottom: 127px;
}

.registr__input--placeholder::-webkit-input-placeholder {
    color: rgba(122, 131, 135, 0.5);
    font-size: 13px;
    padding-left: 10px;
}

.mobile_menu {
    display: none;
    line-height: 1em;
}

.mobile_menu_button {
    width: 90px;
    height: 35px;
    border-radius: 40px;
    outline: none;
    border: none;
}

.js-nav__link-menu {
    display: block;
    margin-top: 25px;
}

.js-nav__ul-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.js-show {
    display: block;
}

@media (min-width: 320px) and (max-width: 500px){
    .nav__link {
        display: none;
    }

    .mobile_menu {
        display: inline;
        float: left;
        margin-left: 20px;
    }

    .second-block__pict1 {
        width: 15px;
        height: 25px;
        float: left;
        margin: 0 10px 0 0;
    }

    .second-block__pict2 {
        width: 15px;
        height: 25px;
        float: left;
        margin: 0 10px 0 0;
    }

    .second-block__pict3 {
        width: 15px;
        height: 25px;
        float: left;
        margin: 0 10px 0 0;
    }

    .second-block {
        height: 370px;
        padding-top: 12px;
    }

    .vertical_line{
        display: none;
    }

    .computer {
        padding-top: 50px;
        padding-bottom: 380px;
    }

    .img-computer {
        margin-top: 100px;
        width: 100%;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 45px;
        height: 300px;
    }

    .footer__background {
        display: none;
    }

    .list__item--secondary{
        line-height: 10px;
        margin-right: 3px;
    }

    .list--margin-bottom {
        margin-bottom: 0;
        width: 100%;
        margin-left: 10px;
    }

    .col--relative {
        max-width: 100%;
    }

    .media-col-offset-1{
        margin-left: 0;
    }

    .footer__paragraph {
        margin-left: 10px;
        margin-top: 15px;
    }

    .main{
        min-height: 100vh;
        height: auto;
    }

    .gallery__paragraph--size {
        font-size: 12px;
        line-height: 22px;
    }

    .gallery__first_heading--size {
        font-size: 20px;
    }

    .gallery__second_heading--size {
        font-size: 12px;
        margin-top: 60px;
    }
}
