.nav__div--menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #6b6b6d;
}

.nav__ul--menu {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    height: 100%;
    padding: 0;
}

.nav__li--menu {
    height: 20%;
}

.nav__link--menu {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav__button--close {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.nav__button--menu {
    width: 90px;
    height: 35px;
    border-radius: 40px;
    outline: none;
    border: none;
}